[Unit]
Description=OpenVPN service
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/etc/openvpn
ExecStart=/usr/local/sbin/openvpn --config /etc/openvpn/server.conf
Restart=always

[Install]
WantedBy=multi-user.target
